$main-color: rgb(97, 218, 251);
$secondary-color: rgb(8, 126, 164);
$main-accent-color: whitesmoke;
$secondary-accent-color: rgb(188, 193, 205);
$main-background-color: rgb(35, 39, 47);
$secondary-background-color: rgb(52, 58, 70);
