header {
  padding: 2em;
  background: darken($color: $background-color, $amount: 2.5%);
}

main {
  flex-grow: 1;
  padding: 0.5em 2em;
}

footer {
  padding: 2em;
  background: darken($color: $background-color, $amount: 5%);
}
