img {
  display: block;
  border: 1px solid $secondary-background-color;
}

button {
  color: $main-accent-color;
  border: 1px solid $main-accent-color;
  background-color: $main-background-color;
  padding: 0.5em;
  margin-top: 1em;

  &:hover {
    background-color: $main-color;
    color: $main-background-color;
  }
}
