ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 2em 0;
  padding: 0;
}

a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em;
  border: 1px solid $main-accent-color;

  color: $main-accent-color;

  text-decoration: none;
  padding: 0.5em 1em;

  transition: all 0.25s ease-in-out;

  &:hover {
    color: $main-background-color;
    border-color: $secondary-color;
    background-color: $main-color;
    transform: scale(1.1);

    img {
      transform: scale(1.5);
    }
  }
}

img {
  transition: all 0.25s ease-in-out;
}
