ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 2em 0;
  padding: 0;
}

a {
  text-decoration: none;
  margin: 0 1em;
  padding: 1em;
  color: $main-accent-color;

  &.active {
    border-bottom: 1px solid $main-accent-color;
  }
}
